body {
	background: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Times;
}

h2 {
	font-family: Times;
}

h3 {
	font-family: Times;
}

.header {
	padding: 80px; /* some padding */
	text-align: center; /* center the text */
	background: "https://intellident-pdr.netlify.com/static/Images/store-front.jpg/";
	color: #000000; /* white text color */
}

.navbar {
	overflow: hidden; /* Hide overflow */
	background-color: #0092ff; /* blue background color */
}

.navbar a {
	float: left; /* make sure that the links stay side-by-side */
	display: block; /* changing the display to a block style */
	color: white; /*white text color */
	text-align: center; /* centered text alignment */
	padding: 14px 20px; /* Add some padding */
	text-decoration: none; /* remove underline */
}

/* Right-aligned link */
.navbar a.right {
	float: right; /* Float a link to the right */
}

/* Menu color changing option */
.navbar a:hover {
	background-color: #ddd; /* grey background color */
	color: black; /* black text color blah */
}

/* Ensure proper sizing for two-column layout. */

* {
	box-sizing: border-box;
}

/* Column container */

.row {
	display: flex;
	flex-wra: wrap;
}

/* Create two unequal columns that sit next to each other. */

.side {
	flex: 30%; /* Setting the width of the side bar. */
	background-color: #FFFFFF; /* white background color */
	padding: 20px; /* some padding */
}

/* Main column */

.main {
	flex: 70%; /* Set the width of the main content */
	background-color: #FFFFFF;  /* white background color */
	padding: 20px; /* some padding */
}

.footer {
	padding: 20px; /* Some padding */
	text-align: center; /* Centered text */
	background: #FF6a32; /* orange-red background */
}
