body {
	background: #FFA500
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding: 80px; /* some padding */
	text-align: center; /* center the text */
	background: #1abc9c; /* green background */
	color: white; /* white text color /*
}
