head {
	background: #FF4500;
}

body {
	background: #FF4500;
	font-family: Arial, Helvetica, sans-serif;
}

.header {
	padding: 80px; /* some padding */
	text-align: center; /* center the text */
	background: #FF4500; /* red-orange background */
	color: white; /* white text color */
}

.navbar {
	overflow: hidden; /* Hide overflow */
	background-color: #ADD8E6; /* dark background color */
}

.navbar a {
	float: left; /* make sure that the links stay side-by-side */
	display: block; /* changing the display to a block style */
	color: white; /*white text color */
	text-align: center; /* centered text alignment */
	padding: 14px 20px; /* Add some padding */
	text-decoration: none; /* remove underline */
}

/* Right-aligned link */
.navbar a.right {
	float: right; /* Float a link to the right */
}

/* Menu color changing option */
.navbar a:hover {
	background-color: #ddd; /* grey background color */
	color: black; /* black text color blah */
}

.footer {
	padding: 20px; /* Some padding */
	text-align: center; /* Centered text */
	background: #ADD8E6; /* light blue background */
}
