<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>Paintless Dent Repair Denver Colorado | Hail Damage Repair Near Me</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"
	</head>
	<body>
		<div class="header">
			<h1>Intellident Paintless Dent Repair</h1>
			<p>Colorado's Premier Hail Damage Experts.</p>
			<h2>About Us</h2>
		</div>
		<!--begin navigation menu-->
		<div class ="navbar">
			<a href="https://intellident-pdr.netlify.com/"><strong>Home</strong></a>
			<a href="https://intellident-pdr.netlify.com/about/"><strong>About Us</strong></a>
			<a href="https://intellident-pdr.netlify.com/news/"><strong>News</strong></a>
			<a href="https://intellident-pdr.netlify.com/careers/"><strong>Careers</strong></a>
			<a href="https://intellident-pdr.netlify.com/status-update/" class="right"><strong>Request A Status Update</strong></a>
			<a href="https://intellident-pdr.netlify.com/faq/"><strong>Frequently Asked Questions</strong></a>
		</div>
		<!--end navigation menu-->
		<!--begin page division-->
		<div class="row">
			<div class="side">
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3>About Us</h3>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="main">
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3>Dent Repair Services</h3>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<p>Yooo...</p>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="footer">
			<br>
			<div class="row">
			<div class="side">
				<h2>Open Hours</h2>
				<br>
				<p><strong>Monday - Thursday: 9:00 A.M. - 6:00 P.M.</strong></p>
				<p><strong>Friday: 9:00 A.M. - 5:00 P.M.</strong></p>
				<br>
			</div>
			<div class="side">
				<h2>Location</h2>
				<br>
				<p><strong>199 W. Littleton Blvd</strong></p>
				<p><strong>Littleton, CO 80120</strong></p>
				<br>
			</div>
			<div class="side">
				<h2>Contact Us</h2>
				<br>
				<p><strong>Telephone: 720-349-9533</strong></p>
				<p><strong>Email: intellident.info@gmail.com</strong></p>
				<br>
			</div>
			</div>
			<br>
			<!--begin BBB logo code-->
			<a href="https://www.bbb.org/us/co/littleton/profile/car-dent-repair/intellident-0885-90262088/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-denver.bbb.org/seals/blue-seal-280-80-bbb-90262088.png" style="border: 0;" alt="IntelliDent BBB Business Review" /></a>
			<!--end BBB logo code blah-->
		</div>
	</body>
</html>
