<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>Web scraping data mining software | Wishing Well Computing</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"
	</head>
	<body>
		<div class="header">
			<h1>Wishing Well Computing</h1>
			<p></p>
			<h2>Download</h2>
		</div>
		<div class ="navbar">
			<a href="https://wishingwellcomputing.netlify.com/"><strong>About</strong></a>
			<a href="https://wishingwellcomputing.netlify.com/contribute/"><strong>Contribute</strong></a>
			<a href="https://wishingwellcomputing.netlify.com/download/"><strong>Download</strong></a>
			<a href="https://wishingwellcomputing.netlify.com/help"><strong>Help</strong></a>
			<a href="https://wishingwellcomputing.netlify.com/news/"><strong>News</strong></a>
		</div>
		<div class="row">
			<div class="side">
				<br>
				<br>
				<h3>Test text</h3>
				<br>
				<p>Test text</p>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="main">
				<br>
				<br>
				<h2>Software Downloads</h2>
				<br>
				<br>
				<h3>Web Scraper</h3>
				<br>
				<h4>Clone via GitHub</h4>
				<p>https://github.com/lyons194/Web-Scraper</p>
				<br>
				<h4>Download .exe file</h4>
				<p>Insert .exe file link here.</p>
				<br>
				<br>
				<h3>Blockchain Network Generator</h3>
				<br>
				<h4>Clone via GitHub</h4>
				<p>https://github.com/lyons194/blockchain-generator</p>
				<br>
				<h4>Download .exe file</h4>
				<p>Insert .exe file link here.</p>
				<br>
				<h3>Simple Database</h3>
				<br>
				<h4>Clone via GitHub</h4>
				<p>https://github.com/lyons194/database</p>
				<br>
				<h4>Download .exe file</h4>
				<p>Insert .exe file link here.</p>
				<br>
			</div>
		</div>
		<div>
			<br>
			<br>
			<br>
			<h3></h3>>
			<br>
			<p></p>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="footer">
			<br>
			<div class="row">
			<div class="side">
				<h2>Test text</h2>
				<br>
				<p><strong>Test text</strong></p>
				<p><strong>Test text</strong></p>
				<br>
			</div>
			<div class="side">
				<h2>Test text</h2>
				<br>
				<p><strong>Test text</strong></p>
				<p><strong>Test text</strong></p>
				<br>
			</div>
			<div class="side">
				<h2>Test text</h2>
				<br>
				<p><strong>Test text</strong></p>
				<p><strong>Test text</strong></p>
				<br>
			</div>
			</div>
			<br>
		</div>
	</body>
</html>
