<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>Web scraping data mining software | Web scraping data mining software</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"
	</head>
	<body>
		<div class="header">
			<h1>Wishing Well Computing</h1>
			<p></p>
			<h2>Help</h2>
		</div>
		<!--begin navigation menu-->
		<div class ="navbar">
			<a href="https://intellident-pdr.netlify.com/"><strong>About Us</strong></a>
			<a href="https://intellident-pdr.netlify.com/contribute/"><strong>Contribute</strong></a>
			<a href="https://intellident-pdr.netlify.com/download/"><strong>Download</strong></a>
			<a href="https://intellident-pdr.netlify.com/help"><strong>Help</strong></a>
			<a href="https://intellident-pdr.netlify.com/news/"><strong>News</strong></a>
		</div>
		<!--end navigation menu-->
		<!--begin page division-->
		<div class="row">
			<div class="side">
				<br>
				<br>
				<br>
				<br>
				<br>
				<h3></h3>
				<br>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="main">
				<br>
				<h2></h2>
				<p></p>
				<br>
			</div>
		</div>
		<div>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="footer">
			<br>
			<div class="row">
			<div class="side">
				<h2></h2>
				<br>
				<p><strong></strong></p>
				<p><strong></strong></p>
				<br>
			</div>
			<div class="side">
				<h2></h2
				<br>
				<p><strong></strong></p>
				<p><strong></strong></p>
				<br>
			</div>
			<div class="side">
				<h2></h2>
				<br>
				<p><strong></strong></p>
				<p><strong></strong></p>
				<br>
			</div>
			</div>
			<br>
		</div>
	</body>
</html>
