<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
		<title>Paintless Dent Repair Denver Colorado | Hail Damage Repair Near Me</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"
	</head>
	<body>
		<div class="header">
			<h1>Intellident Paintless Dent Repair</h1>
			<p>Colorado's Premier Hail Damage Experts.</p>
			<p>Contact our shop today!</p>
		</div>
		<!--begin navigation menu-->
		<div class ="navbar">
			<a href="#"><strong>Home</strong></a>
			<a href="#"><strong>News</strong></a>
			<a href="#"><strong>Careers</strong></a>
			<a href="#" class="right"><strong>Status Updates</strong></a>
		</div>
		<!--end navigation menu-->
		<!--begin page division-->
		<div class="row">
			<div class="side">
				<br>
				<h3>About Us</h3>
				<br>
				<br>
				<br>
				<br>
			</div>
			<div class="main">
				<br>
				<img src="Intellident-logo-black.png">
				<h3>Dent Repair Services</h3>
				<br>
				<br>
				<br>
				<br>
			</div>
		</div>
		<div>
			<br>
			<br>
			<br>
			<br>
			<p>Yooo...</p>
			<br>
			<br>
			<br>
			<br>
		</div>
		<div class="footer">
			<br>
			<br>
			<h2>Footer</h2>
			<!--begin BBB logo code-->
			<a href="https://www.bbb.org/us/co/littleton/profile/car-dent-repair/intellident-0885-90262088/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-denver.bbb.org/seals/blue-seal-280-80-bbb-90262088.png" style="border: 0;" alt="IntelliDent BBB Business Review" /></a>
			<!--end BBB logo code-->
		</div>
	</body>
</html>
