<!DOCTYPE html>
<html>
	<head>
		<div>
			<h1>This is my website's heading!</h1>
		</div>
	</head>
	<body>
		<div>
			<h1>Sean Lyons</h1>
			<p>Biographical information goes here.</p>
			<p>And then more goes here!</p>
			<a href="https://www.bbb.org/us/co/littleton/profile/car-dent-repair/intellident-0885-90262088/#sealclick" target="_blank" rel="nofollow"><img src="https://seal-denver.bbb.org/seals/blue-seal-293-61-bbb-90262088.png" style="border: 0;" alt="IntelliDent BBB Business Review" /></a>
		</div>
	</body>
</html>
